html{
    background-color: white;
}

body{
    background-color: #ede6e6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 960px;
    color: #373535;
/* auto will automatically make margins that center your box     */
    margin: 0 auto 0 auto;
}

header{
/* makes our divs go side by side     */
    display: flex;
    flex-direction: row;
    height: 150px;
}

header > div{
/* applies to all of our divs and makes them the same size     */
    flex: 1;
    text-align: center;
/*runs opposite of the flex selector, which is running horizontally  */
    align-self: flex-end;
}

li{
/* makes the li elements in-line, meaning that each one won't need a new row     */
    display: inline;
}

header img{
    max-width: 100px;
}

h1{
    margin: 0 0 10px 0;
    font-size: 20px;
}

ul{
    margin: 10px 0;
}

a{
    text-decoration: none;
     color: #373535;
}

a:hover{
    color: red;
}

#sign-up{
background-image: url(img/main.jpg);
height: 500px;
display: flex;
flex-direction: column;
/*centers the items width-wise  */
align-items: center;
/* centers the content height-wise  */
justify-content: center;

}

h2, h3{
/* The "a" allows the fourth number to represent the amount of transparency of the background color.     */
    background-color: rgba(46, 39, 39, .5);
    padding: 5px;
    color: rgb(235, 222, 222);
    font-weight: 300;
}

h3{
    margin-top:0;
}

input[type="email"]{
    width: 250px;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    border:none;

}

input[type="submit"]{
    background-color:#cccccc;
    padding: 5px 15px;
    border-radius:5px;
    border:none;
    font-size: 14px;
}

#ideas{
display: flex;
flex-direction: row;
}

#ideas img{
/*makes all the images fit within the container  */
width: 100%;
padding: 5px 0;
}

/* an absolute position will look for the closest relative container  */
.relative{
    position: relative;
}

.category-title{
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    padding: 5px 0;
}

.middle{
    margin: 0 15px;
}
